{% extends 'auth/default.html' %}

{% block title %}
Sginup
{% endblock %}

{% block header %}
<a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="#">
  Sginup
</a>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0">
        <div class="rounded-t mb-0 px-6 py-6">
          <div class="text-center mb-3">
            <h6 class="text-gray-600 text-sm font-bold">
              Sginup
            </h6>
          </div>
          <hr class="mt-6 border-b-1 border-gray-400" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form>
            {{ form.csrf_token }}
            <input type="hidden" name="action" value="sginup">
            <div class="relative w-full mb-3">
              {{ form.name.label(class_="block uppercase text-gray-700 text-xs font-bold mb-2") }}
              {{ form.name(class_="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",
              style_="transition: all 0.15s ease 0s;") }}
            </div>
            <div class="relative w-full mb-3">
              {{ form.email.label(class_="block uppercase text-gray-700 text-xs font-bold mb-2") }}
              {{ form.email(class_="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",
              style_="transition: all 0.15s ease 0s;") }}
            </div>
            <div class="relative w-full mb-3">
                {{ form.password.label(class_="block uppercase text-gray-700 text-xs font-bold mb-2") }}
                {{ form.password(class_="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",
                style_="transition: all 0.15s ease 0s;") }}
            </div>
            <div class="relative w-full mb-3">
                {{ form.confirm_password.label(class_="block uppercase text-gray-700 text-xs font-bold mb-2") }}
                {{ form.confirm_password(class_="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",
                style_="transition: all 0.15s ease 0s;") }}
            </div>
            <div id="alert"></div>
            <div class="text-center mt-6">
              <button id="sginupBtn"
                class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                type="button" style="transition: all 0.15s ease 0s;">
                Sginup
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap mt-6">
        <div class="w-1/2">
          <a href="#pablo" class="text-blue-300"><small>Forgot password?</small></a>
        </div>
        <div class="w-1/2 text-right">
          <a href="{{ url_for('auth.login') }}" class="text-blue-300"><small>Already have an account?</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function removeAlert(alert) {
    $(alert).closest("div").remove();
  }

  function sginupRequest($form) {
    let url = new URL(location.href);

    $("#alert").html("");

    $.post({
      url: url,
      data: $form.serialize(),
    }).then(function (response, textStatus, jqXHR) {
      let errorAlerts = "";

      if (!response.ok && response.errors) {
        _errors = response.errors;
        if (!Array.isArray(response.errors)) {
          _errors = []
          Object.keys(response.errors).forEach(function (name) {
            _errors.push(response.errors[name]);
          });
        }

        _errors.forEach(function(er) {
          errorAlerts += `<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-1 rounded relative mb-2" role="alert">
            <span class="block sm:inline text-sm">${er}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-1">
              <svg onclick=removeAlert(this); class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
          </div>`;
        });
        $("#alert").html(errorAlerts);
      } else {
        alert("Successfully signed up.");
        location.href = "{{ url_for('auth.login') }}";
      }



    }, function (response, textStatus, jqXHR) {
      console.log("fail:", response)
    });
  }

  $(function () {
    $("input[name='name']").focus();

    $(document).on("click", "#sginupBtn", function (e) {
      sginupRequest($("form"));
    });
    $(document).on("keypress", "input", function (e) {
      if (e.which == 13) {
        sginupRequest($("form"));
        return false;
      }
    });
  });
</script>
{% endblock %}