{% extends 'main/default.html' %}

{% block title %}
Main
{% endblock %}

{% block header %}
<a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="#">
  Main
</a>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 h-full mt-20">
  Welcome {{ user.name }} !!<br>
  <hr><br>
  {% for route in map %}
  - {{ route.endpoint }} {{ route.methods }} <a href="{{ route.url }}" class="text-blue-300">{{ route.url }}</a><br>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}