{% extends 'main/default.html' %}

{% block title %}
ManagementSheet
{% endblock %}
{% block head %}
<script src="https://kit.fontawesome.com/c8a365b521.js" crossorigin="anonymous"></script>
{% endblock %}

{% block header %}
<a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="#">
  Management-Sheet
</a>
{% endblock %}

{% block content %}
<input type="hidden" id="requestTabName" name="requestTabName" value="{{ tabname }}">
<ul id="tabbar" class="flex border-b mt-1">
  <li data-tabbar_item="{{ url_for('main.ms.top') }}" data-refresh="1" class="-mb-px mr-1">
    <a href="{{ url_for('main.ms.top') }}" data-transtab class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold">
      <i class="fa-solid fa-list"></i>
    </a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Tab</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-gray-400 font-semibold" href="#">Tab</a>
  </li>
</ul>
<div id="tabContent" class="container mx-auto px-4 h-full p-5">
  {% block tabcontent %}
  {% endblock %}
</div>
{% endblock %}

{% block script %}
<script>
  class TabManager {
    constructor() {

    }

    page(_url) {
      console.log("TabManager.page()", {_url});

      let url = new URL(_url, location.href);

      if (location.href != url.toString()) {
        history.pushState("", "", url);
      }

      url.searchParams.set("inner", 1);

      console.log("TabManager.page() req", {url});

      $.get({
        url: url,
      }).then(function(response) {
        $("#tabContent").html(response);
      });
    }
  }
  var tabManager = new TabManager();

  $(function() {
    var requestTabName = $("#requestTabName").val();
    console.log(requestTabName)

    if (requestTabName) {
      tabManager.page("/main/ms/"+requestTabName);
    }

    $(window).on('popstate', function(e){
      console.log("popstate", location.href)
      tabManager.page(location.href);
    })

    $(document).on("click", "[data-transtab]", function(e) {
      if ($(this).attr("href")) {
        tabManager.page($(this).attr("href"));
        return false;
      } else {
        tabManager.page($(this).attr("data-transtab"));
      }
    });
  });
</script>
{% endblock %}