{% extends 'main/default.html' %}

{% block title %}
mypage
{% endblock %}
{% block head %}
<script src="https://kit.fontawesome.com/c8a365b521.js" crossorigin="anonymous"></script>
{% endblock %}

{% block header %}
<a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="#">
    mypage
</a>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 h-full mt-20">
    mypage
  </div>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}